@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing:  border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
} 
.header{
    width: 100%;
    height: 10%;
    background-color:#438e96 ;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.header__logo{
    height: 100%;
    width: 15%;
}
.header__menu{
width: 85%;
display: flex;
justify-content: flex-end;
align-items: center;
gap: 20px;
}
.header__menu__enlace {
color: white;
text-decoration: none;
letter-spacing: 2px;
margin-right: 2%;
display: flex;
align-items: center;
justify-content: center;
width: 150px;
height: 40px;
outline: 1px  solid #3b757f;
position: relative;
z-index: 1;
}
.header__menu__enlace::before,
.header__menu__enlace::after{
    position: absolute;
    content: '';
    content: '-1';
    top:0;
    left: 0;
    width: 0%;
    height: 100%;

}
.header__menu__enlace:hover::before{
    width: 100%;
    transition: ease-in-out all 0.5s;
    background-color: #92cace;
}
.header__menu__enlace:hover::after{
    width: 100%;
    transition: ease-in-out all 0.8s;
    background-color: #438e96;
}