@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
}

body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 650px; */
}

.login,
.register {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    position: absolute;
}
#btnFormLogin,
#btnFormRegister{
    cursor: pointer;
}
.login div,
.register div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.login div input,
.register div input{
    height: 30px;
}
/* .login div input:focus,
.register div input:focus{
    outline: none;
    
} */
button[type="button"]{
    width: 30%;
    height: 40px;
    background: none;
    cursor: pointer;
    border: solid  2px #462ae7;

}
.correcto{
    outline: solid 2px green;
}
.incorrecto{
    outline: solid 2px red;
}