<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios</title>
    <link rel="stylesheet" href="/views/public/css/ViewUsuario.css" />
</head>

<body>
    <form id="form-login" class="login" action="">
        <div>
            <label for="">Usuario</label>
            <input name="login-usuario" id="login-usuario" type="text" />
        </div>
        <div>
            <label for="">Contraseña</label>
            <input name="login-contrasena" id="login-contrasena" type="text" />
        </div>
        <button id="btnLogin" type="button">Iniciar Sesion</button>
        <p id="btnFormLogin">¿No tiene cuenta?</p>
    </form>

    <form id="form-register" class="register" action="">
        <div>
            <label for="">Nombre</label>
            <input name="register-nombre" id="register-nombre" type="text" />
            <!-- <span id="mensaje-nombre"></span> -->
        </div>
        <div>
            <label for="">Usuario</label>
            <input name="register-usuario" id="register-usuario" type="text" />
        </div>
        <div>
            <label for="">Correo</label>
            <input name="register-correo" id="register-correo" type="text" />
        </div>
        <div>
            <label for="">Contraseña</label>
            <input name="register-contrasena" id="register-contrasena" type="text" />
        </div>
        <div>
            <label for="">Confirmar Contraseña</label>
            <input name="register-confirmar" id="register-confirmar" type="text" />
        </div>
        <button id="btnRegistrar" type="button">Registrarse</button>
        <p id="btnFormRegister">¿Ya tiene cuenta?</p>
    </form>
    <script type ="module" src="/views/public/js/script.js"></script>
    <script type ="module" src="/views/public/js/scriptUsuario.js"></script>
</body>

</html>