<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/public/css/viewUsuario.css" />
    <title>Document</title>
  </head>

  <body>
    <form class="login" action="">
      <div>
        <label for="">Usuario</label>
        <input type="text" />
      </div>

      <div>
        <label for="">Contraseña</label>
        <input type="text" />
      </div>

      <button>Iniciar Secion</button>
      <p>¿No tiene Cuenta?</p>
    </form>
    <form class="register" action="">
      <div>
        <label for="">Nombre</label>
        <input type="text" />
      </div>
      <div>
        <label for="">Usuario</label>
        <input type="text" />
      </div>
      <div>
        <label for="">Correo</label>
        <input type="text" />
      </div>
      <div>
        <label for="">Contraseña</label>
        <input type="text" />
      </div>
      <div>
        <label for="">Confimar Contraseña</label>
        <input type="text" />
      </div>
      <div>
        <button type="button">Registrarse</button>
      </div>
    </form>
    <script src="/views/public/js/Scrip.js  "></script>
  </body>
</html>
